Django
gunicorn
mysqlclient
django-environ

djangorestframework
djangorestframework-oauth

django-phonenumber-field==5.0.0
phonenumbers
six
Pillow
WeasyPrint==52.5

pdfkit

Celery
redis
django-celery-beat
requests
django-json-tag
apscheduler